<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">
    </div>
    <ul id="side-menu" nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li>
        <a routerLink="/dashboard">
          <img src="assets/images/electronic_brain-512.png" alt="">
        </a>
      </li>
      <li *ngFor="let item of menuItems" nz-menu-item
          [nzSelected]="router.url.includes(item.value)">
        <a title [routerLink]="item.routerLink">
          <i nz-icon [type]="item.icon"></i>
          <span *ngIf="!isCollapsed">{{item.label}}</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header id="main-header">
      <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'"
         (click)="isCollapsed=!isCollapsed"></i>
      <nz-dropdown id="dropdown"
                   *ngIf="loggedInUser"
                   nzTrigger="click"
                   [(nzVisible)]="isDropdownVisible">
        <a nz-dropdown>
          <img class="avatar"
               [src]="loggedInUser.avatar ? (loggedInUser.avatar  | formatFileUrl :'image' : false) : ('default-avatar.jpg' | formatFileUrl : 'image' : true)"
               alt="">
          {{loggedInUser.username}}
          <i nz-icon [type]="isDropdownVisible ? 'up':'down'"></i>
        </a>
        <ul nz-menu nzSelectable id="dropdown-menu">
          <li nz-menu-item (click)="logout()">
            <i nz-icon type="logout"></i>
            <a>Logout</a>
          </li>
        </ul>
      </nz-dropdown>
      `,
    </nz-header>
    <nz-content style="margin:0 16px;">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
