<div id="main-container" ng-col nzXs="24">
  <div nz-row nzType="flex" nzJustify="center" nzAlign="center">
    <div nz-col nzXs="24" nzMd="22" nzLg="20">
      <nz-divider nzText="Users"></nz-divider>
      <nz-table #usersTable
                [nzScroll]="{ y: '70vh'}"
                [nzData]="tableDataSet.users"
                [nzFrontPagination]="false"
                [nzTotal]="tableDataSet.totalCount"
                [nzPageIndex]="tableConfig.page"
                [nzPageSize]="tableConfig.limit"
                [nzLoading]="tableIsLoading"
                (nzPageIndexChange)="onPageChange($event)"
                [nzTitle]="nzHeader">
        <ng-template #nzHeader>
          <button nz-button nzType="primary" routerLink="./create">
            Create a User
          </button>
          <nz-input-group ngClass="searchInputGroup"
                          nzSize="large"
                          [nzAddOnBefore]="searchPropertySelect">
            <input type="text"
                   nz-input
                   #searchInput
                   (input)="search(searchInput.value)"
                   [ngModel]="tableConfig.searchValue">
          </nz-input-group>
          <ng-template #searchPropertySelect>
            <nz-select (change)="updateUsersList(false)" [(ngModel)]="tableConfig.searchProp">
              <nz-option *ngFor="let searchProp of searchProps"
                         [nzLabel]="searchProp.label"
                         [nzValue]="searchProp.value"></nz-option>
            </nz-select>
          </ng-template>
        </ng-template>
        <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th>Avatar</th>
          <th nzShowSort nzSortKey="username">Username</th>
          <th nzShowSort nzSortKey="email">Email</th>
          <th>Groups</th>
          <th nzWidth="15%">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of usersTable.data">
          <td>
            <img class="avatar" [src]="(user.avatar ? user.avatar : 'default-avatar.jpg') | formatImageUrl  " alt="">
          </td>
          <td>{{user.username}}</td>
          <td>{{user.email }}</td>
          <td>{{user.groups | arrayOfObjectsToString:'label':' | '}}</td>
          <td class="actions">
            <button nz-button
                    (click)="onEditUser(user._key)"
                    nzType="primary"
                    nzSize="large"
                    nzShape="circle">
              <i nz-icon type="edit">
              </i>
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button
                    (click)="onDeleteUser(user._key)"
                    nzGhost
                    nzType="danger"
                    nzSize="large"
                    nzShape="circle">
              <i nz-icon type="delete">
              </i>
            </button>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
    <nz-modal nzWrapClassName="vertical-center-modal"
              [nzFooter]="null"
              [nzTitle]="modalTitle"
              [nzContent]="modalContent"
              [(nzVisible)]="isModalVisible"
              (nzOnCancel)="handleModalCancel()">
      <ng-template #modalContent>
        <router-outlet></router-outlet>
      </ng-template>
    </nz-modal>
  </div>
</div>
