@import "../../../assets/scss/variables.scss";

#main-container {
  > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    flex-wrap: wrap;
    img {
      max-width: 300px;
    }

    h1 {
      width: 100%;
      text-align: center;
      margin: 1rem 0;
      span {
        display: block;
        color: $grey;
      }
    }
  }
}
